<div class="vh-75 vh-100-ns mw6 center flex justify-center">
  <div class="self-center tc">
    <h2 class="baskerville f1 f-subheadline-ns normal">
      Khailee Ng
      <br>
        <i>&</i>
      <br>
      Elisa Khong
    </h2>
    <p class="f6 f5-ns lh-copy">
      Join them on 17.11.17 in cyberspace, where they’ll commune in love and embrace.
    </p>

    <div class="tc dn db-ns">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="32" height="32" fill="none" stroke="currentcolor" stroke-width="1" style="display: inline-block; vertical-align: middle; overflow: visible; margin: 16px;">
        <path d="M1.0606601717798212 5 L8 11.939339828220179 L14.939339828220179 5"></path>
      </svg>
    </div>
  </div>
</div>

<div class="mw6 center pv5 bt b--white-20">
  <div class="bg-white w6 h5"></div>
</div>

<div class="mw6 sans-serif center">
  <ul class="list pl0 f6">
    <li class="fl w-50 pa3 h4 br bb b--white-20">
      <%= link_to "Timeline", timeline_path, class: "white link" %>
    </li>
    <li class="fl w-50 pa3 h4 bb b--white-20">
      <%= link_to "Speeches", speeches_path, class: "white link" %>
    </li>
    <li class="fl w-50 pa3 h4 br bb b--white-20">
      <%= link_to "Gift Registry", gift_registry_path, class: "white link" %>
    </li>
    <li class="fl w-50 pa3 h4 bb b--white-20">
      <%= link_to "Story", story_path, class: "white link" %>
    </li>
    <li class="fl w-50 pa3 h4 br b--white-20">
      <%= link_to "Guest Book", guestbook_path, class: "white link" %>
    </li>
    <li class="fl w-50 pa3 h4 b--white-20">
      <%= link_to "Table Seating", table_seating_path, class: "white link" %>
    </li>
    <li class="fl w-100 pa3 h4 bt b--white-20 tc">
      <%= link_to "Home", timeline_path, class: "white link" %>
    </li>
  </ul>
</div>