<h2>Elisa & Khailee Cloud Wedding</h2>

<p>Video placeholder</p>

<ul>
  <li><%= link_to "Timeline", timeline_path %></li>
  <li><%= link_to "Speeches", speeches_path %></li>
  <li><%= link_to "Gift Registry", gift_registry_path %></li>
  <li><%= link_to "Story", story_path %></li>
  <li><%= link_to "Guest Book", guestbook_path %></li>
  <li><%= link_to "Table Seating", table_seating_path %></li>
</ul>